<!DOCTYPE html>
<!--html4  -->
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">

		</script>

 <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
 <script src="js/material.js"></script>
 <script src="js/angular-messages.min.js"></script>
 <script src="js/angular-messages.js"></script>
</head>
<body>
<div ng-controller="AppCtrl" layout="column" class="inputdemoErrors" ng-app="MyApp">

 

 <form name="frm" ng-submit="todoAdd()">

      <md-input-container>
        <label>Add To Do Work</label>
        <input required="" name="clientName" ng-model="project.clientName">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
 <!-- <button ng-disabled="frm.$invalid">Go</button> -->
    <md-button ng-disabled="frm.$invalid" class="md-raised md-primary">Insert</md-button>
 
    </form>

    <p> 
  <md-button ng-click="remove()" class="md-raised md-warn">Remove</md-button>
    </p>
  </md-content>



<div ng-repeat="todo in todoList">
    
    <md-checkbox ng-model="todo.done" aria-label="Checkbox 1" >
   {{ todo.todoText}}
    </md-checkbox>
  <!--  <span ng-bind="todo.todoText"></span> -->
</div>

</div>
 


 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

<script>
	angular.module('MyApp' ,['ngMaterial','ngMessages'])
.controller('AppCtrl', function($scope) {
 
$scope.todoList = [{todoText:'To do List', done:false}];

 $scope.todoAdd = function() {
        $scope.todoList.push({todoText:$scope.project.clientName, done:false});
        $scope.todoInput = "";
        $scope.project.clientName = "";
    };

        $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };

});

 
</script>
</body>
</html>